{{define "content"}}

 <p class="lead">FeedBack</p>

 <form action="/feedBack" method="post">
  <div id="feedBack">
   <textarea rows="5" class="text"  id="content" name="content" placeholder="   Any suggests for our andorid appliaction or webside can be edited.
   They will make us better.
   Thank you." required></textarea>
  </div>
  <br/>
  <button class="btn btn-primary">Go</button>
 </form>
  <br/>
  <br/>
  <p class="lead">Technical Support</p>

 <div class="htmleaf-container">
  <div class="demo" style="background: #f7f8fa;">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div id="news-slider" class="owl-carousel">

       <div class="post-slide">
        <div class="post-header">
         <a class=lead>Go</a>
        </div>

        <div class="pic">
         <img src="static/img/Go.jpg" alt=""/>
        </div>

        <ul class="post-bar">
         <li><i class="fa fa-users"></i> <a>Admin</a></li>
        </ul>
        <p class="post-description">
         Go is an open source programming language that makes it easy to build simple, reliable, and efficient software.
         <br/>
         Our website is builded by Go.
        </p>
        <a href="https://golang.google.cn/" class="read-more">Official website</a>
       </div>

       <div class="post-slide">
        <div class="post-header">
         <a class="lead">Andorid</a>
        </div>
        <div class="pic">
         <img src="static/img/andorid.jpg." alt=""/>
        </div>
        <ul class="post-bar">
         <li><i class="fa fa-users"></i> <a >Admin</a></li>
        </ul>
        <p class="post-description">

        </p>
        <a href="https://developer.android.google.cn/" class="read-more">Official website</a>
       </div>

       <div class="post-slide">
        <div class="post-header">
         <a class="lead">Baidu map</a>
        </div>
        <div class="pic">
         <img src="static/img/baidumap.jpg." alt=""/>
        </div>
        <ul class="post-bar">
         <li><i class="fa fa-users"></i> <a >Admin</a></li>
        </ul>
        <p class="post-description">
         李良超 ,博士，副教授，“无线电物理”专业硕士导师。
        </p>
        <a href="https://faculty.xidian.edu.cn/LLC1/zh_CN/zhym/317182/list/index.htm" class="read-more">Home page</a>
       </div>

       <div class="post-slide">
        <div class="post-header">
         <a class="lead">highcharts</a>
        </div>
        <div class="pic">
         <img src="static/img/highcharts.png" alt=""/>
        </div>
        <ul class="post-bar">
         <li><i class="fa fa-users"></i> <a >Admin</a></li>
        </ul>
        <p class="post-description">
         李良超 ,博士，副教授，“无线电物理”专业硕士导师。
        </p>
        <a href="https://faculty.xidian.edu.cn/LLC1/zh_CN/zhym/317182/list/index.htm" class="read-more">Home page</a>
       </div>


      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

{{ end }}