{{define "content"}}

    <p class="lead"><a>Upload new Data</a></p>

    <div id="file">
    <form method="post" action="/checkUploadFile" enctype="multipart/form-data">
        <input name="name" class="form-control" placeholder="Name of the file" required>
        <br/>
        <input class="form-control" id="describe" name="describe"  placeholder="Describe of the file" required> </input>
        <br/>
        <select class="form-control" name="selectType" id="selectType">
            <option>2D Graph</option>
            <option>2D Polar Graph</option>
            <option>Heat Map Graph</option>
            <option>2D Scatter Diagram</option>
        </select>
        <p class="help-block">Data Type</p>
        <br/>
        <input type="date" name="date" required/>
        <p class="help-block">Acquisition time</p>
        <br/>
        <input type="file" id="file" name="file"/>
        <p class="help-block">File size does not exceed 10M . We accept .txt and .dat files.</p>
        <br/>
        <button type="submit" class="btn btn-primary btn-sm" onclick="return check_file()" >upload</button>
    </form>

    </div>
    <br/>
   <p class="lead"><a>Exist Data</a></p>


    {{ range . }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-folder-o"></i> {{.GetName}}|  {{.GetTag}}</span>
            <div class="pull-right"><a href="/deleteData?id={{.GetId}}&name={{.GetName}}"><i class="fa fa-remove"></i></a></div>
        </div>
        <div class="panel-body">
            <div class="pull-right">
                <a href="/draw?id={{.GetId}}&name={{.GetName}}&tag={{.GetTag}}">Draw</a>
            </div>
            {{.GetTime}} {{.GetDescribe}}
        </div>
    </div>
        {{else}}
        <p class="lead">Don't have any data,You can upload one.</p>
    {{end}}
{{ end }}