{{define "content"}}
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-line-chart"></i></span>Plot</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fa fa-google-wallet"></i></span>RayRun</a></li>
                            <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><span><i class="fa fa-rss"></i></span>PSR</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                <h3>Plot</h3>
                                <img src="/static/img/Programs/plot.png">
                                <p style="font-size: 17px">Use this program, you can plot 2D curve.</p>
                                <a href="/PlotCenter" style="font-size: 18px;">Go</a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Section2">
                                <h3>RayRun</h3>
                                <img src="/static/img/Programs/RayRun.png">
                                <p style="font-size: 17px">This program is used for ionospheric ray tracing.</p>
                                <a href="/RayRun" style="font-size: 18px;">Go</a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Section3">
                                <h3>PSR</h3>
                                <p>PSR(Phone Signal Recorder) is a program to record the signal of phone. The signal can be 4G or WI-FI.</p>
                                <a href="/PSR" style="font-size: 18px;">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
