{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" role="navigation" style="background: white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >
                <i class="fa fa-line-chart"></i>
                Plot
            </a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/PlotCenter"  style="font-size: 20px;color: #00bf00">Console</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/DocumentForPlot"  target="_blank" style="font-size: 20px;color: #0b99bc">Document</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/EPrograms"  style="font-size: 20px;color: #ff76b5">back</a></li>
            </ul>
        </div>
    </div>
</div>

{{end}}