{{ define "content"}}


    <div class="htmleaf-container">
        <div class="container">
            <div class="trent-slider">
                <div class="t-slide current-t-slide">
                    <img src="static/img/xidian1.jpg" alt="" />
                </div>

                <div class="t-slide">
                    <img src="static/img/xidian_sdj.jpg" alt="" />
                </div>

                <div class="t-slide">
                    <img src="static/img/xidian.jpg" alt="" />
                </div>

                <div class="t-slide">
                    <img src="static/img/student_1.jpg" alt="" />
                </div>

                <div class="t-slide">
                    <img src="static/img/student_2.jpg" alt="" />
                </div>
                <div class="t-slider-controls">
                    <div class="arrow right-arrow">
                        <div class="arrow-container">
                            <div class="arrow-icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="arrow left-arrow">
                        <div class="arrow-container">
                            <div class="arrow-icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="t-load-bar">
                        <div class="inner-load-bar"></div>
                    </div>
                    <div class="t-dots-container">
                        <div class="t-slide-dots-wrap">
                            <div class="t-slide-dots">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p class="lead"><a>History</a></p>
    <textarea id="news" readonly>
    电波测量与天线实验教学示范中心依托电波研究所从1987年成立电波传播测量实验室到现在，经过25年的艰苦建设，从最初的实验教学型中心建设成为依托博士学科点，教学科研并重，理论与实践教学结合，具有学历结构、年龄结构合理，较高学术水平的师资队伍的实验教学中心。以厚基础、宽口径、强能力、高素质、总体优化的教学理念，建立分层次开放式实验教学新体系。

    1987年成立电波测量验室，主要承担电子信息科学与技术、电波传播与天线、应用物理专业实验教学任务。2001年实验单独设课，可开出20余种实验，实验教学、科研和学科建设队伍19人，提出了教学科研并重的发展模式。当年王一平、胡昌壁教授带头成立“创造性试点实验室”，肖景明、黄际英、张栋国教授带头成立“电波传播测量实验室”，吴振森教授带头成立“无线电物理实验室”，参加试点的学生有200余人。基于1986年获“无线电物理”硕士点，多名电波研究人员成为硕士导师。年科研经费30万元。

    1994年提出的“创造性实验教学方法”，获陕西省优秀教学成果二等奖。

    2003年开始建设新校区实验中心，投入30万元全面购置更新实验仪器设备。同时获得光学博士点和“物理学”博士后流动站，年科研经费达到350万元，2001-2005年电波测量与天线实验教学示范中心共承担省级、校级教改项目10余项。

    2005成立电波测量与天线实验教学中心，建成多媒体教学系统、实验演示系统，实行部分开放式教学，获得“无线电物理”博士点，年科研经费达到180万元。

    2009年开设电波传播与天线国防特色专业，获得国防科工局特色专业实验设备支持400万元。

    2011年实验教学中心教师达24人，从最初的无线电物理实验扩展到电波传播与天线专业课实验、设计性综合实验及研究生无线电物理、光学学科实验，实验种类已达到40余种。目前实验教学总面积达100余平方米，实验仪器设备固定资产达到600余万元。每年向全校500余名本科生、100余名研究生全面开放。同时作为各类竞赛基地之一，每年参与竞赛学生达100余人，受益面广，辐射性强。
</textarea>
    <br/>
    <p class="lead"><a>People</a></p>
    <div class="htmleaf-container">
        <div class="demo" style="background: #f7f8fa;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="news-slider" class="owl-carousel">

                            <div class="post-slide">
                                <div class="post-header">
                                    <a class="lead">Professor</a>
                                    <h3 class="post-title"><a>李良超</a></h3>
                                </div>

                                <div class="pic">
                                    <img src="static/img/郭宏福.jpg" alt=""/>
                                </div>

                                <ul class="post-bar">
                                    <li><i class="fa fa-users"></i> <a>Admin</a></li>
                                </ul>
                                <p class="post-description">
                                    郭宏福 ，男，1964年3月出生，博士研究生。
                                    <br/>
                                    <br/>参加工作时间： 1985年7月
                                    <br/>职称：教授;
                                    <br/>职务：电波测量与天线实验教学示范中心 主任
                                    EWE项目的硬件设备负责人。
                                </p>
                                <a href="https://faculty.xidian.edu.cn/GHF1/zh_CN/index/318133/list/index.htm" class="read-more">home page</a>
                            </div>

                            <div class="post-slide">
                                <div class="post-header">
                                    <a class="lead">Professor</a>
                                    <h3 class="post-title"><a>李良超</a></h3>
                                </div>
                                <div class="pic">
                                    <img src="static/img/李良超.jpg" alt=""/>
                                </div>
                                <ul class="post-bar">
                                    <li><i class="fa fa-users"></i> <a >Admin</a></li>
                                </ul>
                                <p class="post-description">
                                    李良超 ,博士，副教授，“无线电物理”专业硕士导师。EWE项目发起者，负责软件系统的构建。
                                </p>
                                <a href="https://faculty.xidian.edu.cn/LLC1/zh_CN/zhym/317182/list/index.htm" class="read-more">Home page</a>
                            </div>

                            <div class="post-slide">
                                <div class="post-header">
                                    <a class="lead">Student</a>
                                    <h3 class="post-title"><a>汪衣宇</a></h3>
                                </div>
                                <div class="pic">
                                    <img src="static/img/李良超.jpg" alt=""/>
                                </div>
                                <ul class="post-bar">
                                    <li><i class="fa fa-users"></i> <a >Admin</a></li>
                                </ul>
                                <p class="post-description">
                                    Ewe项目主要开发者之一，西电2016级学生。在Ewe中负责安卓端的开发。
                                </p>
                                <a href="https://faculty.xidian.edu.cn/LLC1/zh_CN/zhym/317182/list/index.htm" class="read-more">Home page</a>
                            </div>

                            <div class="post-slide">
                                <div class="post-header">
                                    <a class="lead">Stdudent</a>
                                    <h3 class="post-title"><a>王忆凡</a></h3>
                                </div>
                                <div class="pic">
                                    <img src="static/img/wyf.jpg" alt=""/>
                                </div>
                                <ul class="post-bar">
                                    <li><i class="fa fa-users"></i> <a >Admin</a></li>
                                </ul>
                                <p class="post-description">
                                    Ewe项目主要开发者之一，西电2016级学生。在Ewe中负责网站构建。喜爱写一些有趣的程序。如果你对我们的项目感兴趣，
                                    可发邮件到2668340606@qq.com联系我。我们一起让他变的更好。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br/>

{{end}}