{{ define "content" }}
<form action="/PSR_deal" method="post">
    <p class="lead">Search</p>
        <div class="edit">
            <div class="editPlace">
                {{if .GetCommands}}
                <input id="codes" name="codes" class="form-control" value="{{.GetCommands}}">
                {{else}}
                    <input id="codes" name="codes" class="form-control" placeholder="ID1,Date1,Name1;ID2,Date2,Name2">
                {{end}}
            </div>
            <div class="searchPlace">
                <button style="background: white;margin-top: 2%"><i class="fa fa-search"></i></button>
            </div>
        </div>
</form>
        <br/>
        <br/>
        {{if .GetError}}
            <input readonly style="border: white;margin-top: 2%" id="checker" placeholder="{{.GetError}}">
        {{else}}
            <input readonly style="border: white;margin-top: 2%" id="checker" placeholder="check.">
        {{end}}
        <br/>
        <br/>
    <p class="lead">Result</p>
    {{ range .GetList }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-file-o"></i> {{.GetID}}|{{.GetTag}}q</span>
        </div>
        <div class="panel-body">
            <div class="pull-right">
                <a href="/PlotDraw?id={{.GetId}}&timeStart={{.GetStartTime}}&timeEnd={{.GetEndTime}}&tag=heatMap">Draw</a>
            </div>
            {{.GetTime}} {{.GetDescribe}}
        </div>
    </div>
{{else}}
<p class="lead">Don't have any Result.</p>

{{end}}

{{ end }}