{{ define "content" }}
<form action="/PSR_deal" method="post">
    <p class="lead">Search</p>
        <div class="edit">
            <div class="editPlace">
                {{if .GetCommands}}
                <input id="codes" name="codes" class="form-control" value="{{.GetCommands}}">
                {{else}}
                    <input id="codes" name="codes" class="form-control" placeholder="ID1,Date1,Name1;ID2,Date2,Name2">
                {{end}}
            </div>
            <div class="searchPlace">
                <button style="background: white;margin-top: 2%"><i class="fa fa-search"></i></button>
            </div>
        </div>
</form>
        <br/>
        <br/>
        {{if .GetError}}
            <input readonly style="border: white;margin-top: 2%" class="form-control" id="checker" value="{{.GetError}}">
        {{else}}
            <input readonly style="border: white;margin-top: 2%" id="checker" placeholder="check.">
        {{end}}
        <br/>
        <br/>
<form method="post" action="/PSR_plot" target="_blank">
    <p class="lead">Result<button type="submit" class="btn btn-default" onclick="return checkBox()" style="float: right">Show</button></p>
    {{ range .GetList }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead"><a href="/PSR_plot_downloadData?id={{.GetID}}&name={{.GetName}}&date={{.GetDate}}"><i class="fa fa-download"></i></a> ID: {{.GetID}}</span>
            </div>
            <div class="panel-body">
                Date :{{.GetDate}} FileName:{{.GetName}}
                <div class="pull-right">
                    <input type="checkbox" name="checkbox" id="{{.GetID}}|{{.GetDate}}|{{.GetName}}">
                </div>
            </div>
        </div>
    {{else}}
        <p class="lead">Don't have any result.</p>
    {{end}}
    <input type="hidden"  name="list" id="list"/>
</form>

{{ end }}